 /* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: #6c6b6b;*/
}

.headline{
	padding:20px auto;
}

a {
    /*text-decoration: none;*/
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    text-align:center;
}

header .headline{
	font-size:32px;
}

nav{
	border:1px solid black;
}

.nav-list {
    text-align: center;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 15px 20px;
}

.main{
	width:800px;
	height:600px;
	margin:50px auto;
}

.main-list {
    list-style: none;
}

.main-list-item{
    float:left;
}

.green1{
	width:200px;
	height:200px;
	background-color: #e6ffe9;
}

.green2{
	width:200px;
	height:200px;
	background-color: #cbffbd;
}

.green3{
	width:200px;
	height:200px;
	background-color: #aeffbd;
}

.green4{
	width:200px;
	height:200px;
	background-color: #93ffd8;
}

.yellow1{
	width:200px;
	height:200px;
	background-color: #f3ffd8;
}

.yellow2{
	width:200px;
	height:200px;
	background-color: #edffbe;
}

.yellow3{
	width:200px;
	height:200px;
	background-color: #e9ffa5;
}

.yellow4{
	width:200px;
	height:200px;
	background-color: #e4ff8d;
}

.blue1{
	width:200px;
	height:200px;
	background-color: #d9e5ff;
}

.blue2{
	width:200px;
	height:200px;
	background-color: #bad3ff;
}

.blue3{
	width:200px;
	height:200px;
	background-color: #a4c6ff;
}

.blue4{
	width:200px;
	height:200px;
	background-color: #8eb8ff;
}

footer {
    width: 100%;
    height: 120px; 
    text-align: center;
    padding: 50px 0;
    background-color: #848282;
}

.footer-text {
    color: #fff;
}